@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,900;1,500;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.paragraph {
  display: none;
}

.top-head {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  height: 48px;
  color: #6070ff;
  padding: 4px 24px 4px 12px;
  margin: 30px 0 0 24px;
}

.img {
  height: 24px;
  width: 24px;
  padding: 8px;
}

.logo {
  color: var(--primary-b-400, #6070ff);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  padding: 10px 12px 10px 12px;
  font-family: 'poppins', sans-serif;
}

.introduction {
  display: inline-flex;
  padding: 114px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  background-color: #fff;
  margin-bottom: 30px;
  background-image: url(asset/background.png);
  background-repeat: no-repeat;
  background-position: top 10px right 0;
  background-size: 100%;
}

.intro {
  border-bottom-left-radius: 60px;
  color: #f7f7f9;
}

.greeting {
  display: flex;
  height: 150px;
  flex-direction: column;
  justify-content: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  margin: 0 24px 12px 0;
  font-family: 'poppins', sans-serif;
}

.detail {
  display: flex;
  height: 146px;
  flex-direction: column;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
  font-family: 'poppins', sans-serif;
}

.address {
  color: #7f8cff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: 0 24px 12px 0;
  font-family: 'poppins', sans-serif;
}

.icons {
  display: flex;
  width: 170px;
  height: 20px;
  justify-content: space-around;
  gap: 12px;
  margin-top: 0;
  margin-left: 0;
  size: 20px;
  list-style: none;
  align-items: center;
}

.grid-container {
  display: grid;
  padding-top: 114px;
  grid-template: column;
  align-items: center;
  background-color: #f7f7f9;
  gap: 88px;
  font-family: 'poppins', sans-serif;
}

.card-1 {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid var(--neutrals-n-40, #dfe1e6);
  background: var(--neutrals-n-0, #fff);
  margin: 0 24px 0 24px;
}

.can {
  display: flex;
  gap: 24px;
  margin: 12px auto 12px 0;
}

.can li {
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.bed {
  color: var(--neutrals-n-600, #344563);
  color: var(--neutrals-n-100, #7a869a);
}

.li.bed ::marker {
  border-radius: 8px;
  background: var(--neutrals-n-50, #c1c7d0);
}

.tonic {
  width: 295px;
  height: 36px;
  flex-direction: column;
  color: var(--neutrals-n-800, #172b4d);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  margin-top: 12px;
}

.canopy {
  list-style: none;
  font-style: normal;
  color: var(--neutrals-n-600, #344563);
}

.daily {
  width: 80%;
  color: var(--neutrals-n-600, #344563);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.tag {
  display: flex;
  margin: 12px auto 12px 0;
  gap: 8px;
  list-style: none;
}

.html {
  color: var(--primary-b-400, #6070ff);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.36px;
  padding: 4px 12px;
  align-items: center;
  border-radius: 8px;
  background: var(--primary-b-50, #ebebff);
  height: 16px;
}

.css {
  padding: 4px 12px;
  align-items: center;
  color: var(--primary-b-400, #6070ff);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.36px;
  border-radius: 8px;
  background: var(--primary-b-50, #ebebff);
  height: 16px;
}

.jav,
.ruby {
  padding: 4px 12px;
  border-radius: 8px;
  background: var(--primary-b-50, #ebebff);
  color: var(--primary-b-400, #6070ff);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.36px;
  height: 16px;
}

.button {
  padding: 12px;
  align-items: center;
  color: var(--primary-b-500, #396df2);
  text-align: center;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070ff);
  background: var(--neutrals-n-0, #fff);
  cursor: pointer;
  margin: 0 auto 0 0;
}

.button:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.button:active {
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

/* card-2 */
.card-2 {
  display: flex;
  padding: 16px;
  height: 564px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid var(--neutrals-n-40, #dfe1e6);
  background: var(--neutrals-n-0, #fff);
  margin: 0 24px 0 24px;
}

.card-4 {
  display: flex;
  padding: 16px;
  height: 564px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid var(--neutrals-n-40, #dfe1e6);
  background: var(--neutrals-n-0, #fff);
  margin: 0 24px 114px 24px;
}

.multi {
  display: flex;
  flex-direction: column;
  color: var(--neutrals-n-800, #172b4d);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  margin-top: 12px;
}

.myself {
  width: 100%;
  border-top-right-radius: 60px;
  background: var(--neutrals-n-10, #fff);
  font-family: 'poppins', sans-serif;
}

.about-myself {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.about {
  display: flex;
  height: 35px;
  flex-direction: column;
  justify-content: center;
  margin-left: 0;
  color: var(--neutrals-n-800, #172b4d);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  margin-top: 114px;
}

.detail-about {
  display: flex;
  flex-direction: column;
  color: var(--neutrals-n-600, #344563);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 12px 0 12px 0;
  height: 147px;
}

.address-2 {
  color: var(--primary-b-300, #7f8cff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-left: 0;
  margin-bottom: 16px;
}

.button-a {
  padding: 12px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070ff);
  color: var(--primary-b-500, #396df2);
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
  margin-left: 0;
  width: 162px;
  height: 48px;
  margin-top: 20px;
  cursor: pointer;
}

.button-a:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.button-a:active {
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.icon {
  display: flex;
  height: 20px;
  justify-content: space-around;
  gap: 12px;
  margin-left: 0;
  size: 20px;
  list-style: none;
}

.down-arrow {
  width: 24px;
  height: 24px;
  margin: 8px;
}

.arrow {
  padding: 8px;
}

.lan {
  display: flex;
}

.Js {
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  background: var(--neutrals-n-10, #f7f7f9);
  color: var(--neutrals-n-700, #253858);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  height: 66.71px;
}

.js-png {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 48px;
  border: 1px solid var(--neutrals-n-0, #fff);
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.ch-png {
  flex-shrink: 0;
  border-radius: 48px;
  border: 1px solid var(--neutrals-n-0, #fff);
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.ht-png {
  flex-shrink: 0;
  border-radius: 48px;
  border: 1px solid var(--neutrals-n-0, #fff);
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.framework {
  display: flex;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 24px 26px 24px 12px;
  align-items: center;
  margin-right: 24px;
  justify-content: space-between;
}

.la {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 16px 26px 16px 12px;
  list-style: none;
  margin-top: 24px;
}

.lan-skill {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 24px 26px 24px 12px;
  justify-content: space-between;
  margin-right: 24px;
}

ul.languages {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-left: 24px;
}

.language {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills {
  display: flex;
  padding: 24px 24px 24px 0;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}

.separator {
  display: flex;
  height: 1px;
  margin-left: 0;
  flex-shrink: 0;
  background: var(--neutrals-n-40, #dfe1e6);
  width: 327px;
}

.contact-form {
  width: 100%;
  flex-shrink: 0;
  margin-top: 62.85px;
}

.contact-me {
  background: #6070ff;
  border-top-left-radius: 100px;
  height: 779px;
  background-image: url(asset/contact\ form\ shapes-mobile@2x.png);
  background-repeat: no-repeat;
  background-size: 61%;
  background-position: top 10px right 0;
  background-position: top 18px right 0;
}

.contact {
  display: flex;
  height: 56px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--neutrals-n-0, #fff);
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  padding: 108px 0 0 0;
}

.contact-detail {
  display: flex;
  width: 327px;
  height: 137px;
  flex-direction: column;
  flex-shrink: 0;
  color: var(--primary-b-50, #ebebff);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin: 12px auto 0;
}

form {
  display: flex;
  flex-direction: column;
  margin: 42px auto 0;
  max-width: 327px;
}

input {
  display: flex;
  flex-direction: column;
  height: 26px;
  flex-shrink: 0;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  background: #fff;
  padding: 10px;
  font-size: 17px;
  color: var(--neutral-n-800, #172b4d);
}

#email,
#name {
  color: var(--neutral-n-800, #172b4d);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

form input::placeholder {
  color: var(--neutral-n-800, #172b4d);
}

textarea {
  height: 168px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  background: #fff;
  color: var(--neutrals-n-60, #b3bac5);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

#message {
  padding: 15px;
}

.button-contact {
  padding: 12px 16px;
  color: var(--primary-b-400, #6070ff);
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.51px;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid var(--primary-b-400, #6070ff);

  /* margin-left: 24px; */
  background: var(--neutrals-n-0, #fff);
  cursor: pointer;
  align-self: flex-start;
}

.button-contact:hover {
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.button-contact:active {
  background: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

hr {
  width: 134px;
  height: 5px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #0d151e;
  margin: 8px auto;
}

.top {
  display: none;
}

.ruby {
  display: none;
}

.card-img {
  display: none;
}

@media screen and (width: 375px) {
  .daily {
    width: 100%;
  }
}

/* desktop version */

@media screen and (min-width: 768px) {
  body {
    background-color: #f7f7f9;
    font-family: 'Poppins', sans-serif;
  }

  header {
    background-color: #fff;
  }

  .top-head {
    display: none;
  }

  .card-1-mob,
  .card-im {
    display: none;
  }

  .top {
    display: inline-flex;
    padding: 16px 143px;
    justify-content: space-between;
    margin-top: 1px;
    background-color: #fff;
    gap: 131px;
    width: 100%;
    box-sizing: border-box;
  }

  .info {
    display: flex;
    align-items: center;
    gap: 8px;
    list-style: none;
  }

  ul .info {
    color: var(--neutrals-n-600, #344563);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    gap: 8px;
  }

  .port,
  .abt,
  .cont {
    padding: 10px 12px;
  }

  .intro {
    font-family: sans-serif;
    width: 100%;
  }

  .introduction {
    left: 0;
    top: 1px;
    background-color: #fff;
    background-image: url(asset/Header\ bg@2x.png);
    background-repeat: no-repeat;
    background-size: 98%;
    background-position: top 48px right 0;
    border-bottom-left-radius: 100px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    height: 846px;
    padding: 18.343% 21%;
  }

  .greeting {
    height: 122px;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
  }

  .detail {
    height: 98px;
  }

  .address {
    margin-bottom: 12px;
  }

  .grid-container {
    border: 1px solid #f7f7f9;
    width: 100%;
    padding-top: 9.86%;
    background: var(--neutrals-n-10, #f7f7f9);
    gap: 142px;
  }

  .card-img {
    display: flex;
    width: 50%;
    padding: 24px;
  }

  .card-1,
  .card-2,
  .card-4 {
    flex-direction: row;
    height: 496px;
    border-radius: 24px;
    border: 1px solid var(--neutrals-n-40, #dfe1e6);
    width: 80%;
    align-items: normal;
    gap: 0;
    margin: 0 auto 0 auto;
  }

  div[class^="card-"]:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .wr {
    padding: 24px  24px 22px;
    display: flex;
    flex-direction: column;
  }

  .tcb {
    font-family: sans-serif;
  }

  .tonic,
  .multi {
    margin-bottom: 16px;
  }

  li .canopy {
    font-size: 18px;
  }

  .daily {
    margin: 24px 0;
    font-size: 16px;
  }

  .can {
    margin: 12px auto 12px 0;
    font-size: 18px;
  }

  .can li {
    font-size: 18px;
  }

  .tag {
    margin: 0 0 24px 0;
  }

  .button {
    margin-top: 16px;
  }

  .ruby {
    display: flex;
  }

  .contact-me {
    background-image: url(asset/contact\ for\ desk.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -125px;
  }

  .contact-form {
    width: 100%;
  }

  .contact-detail {
    margin: 12px auto;
    width: 40%;
    height: auto;
  }

  form {
    margin: auto;
  }

  form input::placeholder {
    color: var(--neutral-n-800, #172b4d);
  }

  .button-contact {
    margin: 27px auto auto;
  }

  hr {
    display: none;
  }

  .about-sec {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.8fr 1fr;
    height: 668px;
  }

  .detail-about {
    width: 83%;
    height: auto;
  }

  .myself {
    display: flex;
    margin-top: 152px;
    border-top-right-radius: 120px;
  }

  .about-myself {
    margin: 22.52% auto auto 15.937%;
  }

  .lan-div {
    margin-right: 142px;
    margin-top: 120px;
  }

  .la {
    margin-top: 0;
  }

  .skills {
    flex-direction: row;
    padding: 12px;
    gap: 12px;
  }

  li.js {
    padding: 12px 12px 20px 12px;
  }

  .Js {
    flex-direction: column;
    padding: 12px 12px 36px 12px;
  }

  .js-png {
    width: 48px;
    height: 48px;
  }

  .language {
    display: flex;
    justify-content: space-between;
  }

  .about {
    margin-top: 0;
  }

  .address-2 {
    width: 30%;
  }

  .separator {
    width: 100%;
  }

  .button-a {
    margin-top: 30px;
  }

  .framework,
  .lan-skill {
    margin-right: 0;
  }
}
